.sidebar-login {
    position: fixed;      
    top: 0;
    right: 0;
    width: 50vw;          
    height: 100vh;       
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;    
    z-index: 0;
}


.sidebar-login img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

