
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#person,
.person {
  display: flex;
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.person-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  gap: 2px;
}

.title-login {
  text-align: center;
  margin-top: 45px; 
  margin-bottom: 20px;
}

.title-login h1 {
  text-align: center;
  font-size: 26px;
  line-height: 1.15;
  color: #7e0a8d;
  font-weight: 700;
}

.title-login h1 span {
  color: #7e0a8d;
}


.subtitle-login h2 {
  font-size: 1.1rem;
  margin-top: 10px;
  color: #535353;
  margin-bottom: 20px;
}
